@use 'sass:math';

// COLORS

//  Primary
$color-primary: hsl(356, 100%, 66%);
$color-primary-light: hsl(355, 100%, 74%);
$color-secondary: hsl(208, 49%, 24%);

// Neutral
$color-white: hsl(0, 0%, 100%);
$color-grey-1: hsl(240, 2%, 79%);
$color-grey-2: hsl(207, 13%, 34%);
$color-grey-3: hsl(240, 10%, 16%);

//  Gradient
$color-gredient-light: hsl(13, 100%, 72%);
$color-gredient-dark: hsl(353, 100%, 62%);

// Background gradient - body:
$color-grey-blue-1: hsl(237, 23%, 32%);
$color-grey-blue-2: hsl(237, 17%, 21%);

$color-text: $color-grey-2;

// FONTS
$font-size: 1.6rem;
$font-primary: 'Overpass', sans-serif;
$font-display: 'Ubuntu', sans-serif;

// WIDTH
$max-content-width: 110rem;

// BREAK POINTS
$lg: math.div(1000, 16) * 1em;
$md: math.div(810, 16) * 1em;
$md-sm: math.div(600, 16) * 1em;
$sm: math.div(375, 16) * 1em;
$sm-sm: math.div(315, 16) * 1em;

// PATH
// w.r.t css/
$images-path: '../images';
