@use '../abstract/variables' as *;

.attribution {
	letter-spacing: 0.25px;
	padding-bottom: 2rem;
	font-size: 1.1rem;
	text-align: center;
	background-color: $color-grey-3;
	color: $color-grey-1;
}

.attribution a {
	color: $color-primary;
	font-weight: bold;
}
