.u-text-center {
	text-align: center !important;
}

/* .u-text-center-sm {
	@include response(sm) {
		text-align: center !important;
	}
}

.u-text-center-lg {
	@include response(lg) {
		text-align: center !important;
	}
} */

// Margin-Top

.u-mt-1 {
	margin-top: 2rem !important;
}

.u-mt-2 {
	margin-top: 5rem !important;
}

.u-mt-3 {
	margin-top: 8rem !important;
}

.u-mt-4 {
	margin-top: 10rem !important;
}

// Margin-Bottom

.u-mb-1 {
	margin-bottom: 2rem !important;
}

.u-mb-2 {
	margin-bottom: 5rem !important;
}

.u-mb-3 {
	margin-bottom: 8rem !important;
}

.u-mb-4 {
	margin-bottom: 10rem !important;
}

/* .u-mb-5 {
	margin-bottom: 10rem !important;

	@include response(md) {
		margin-bottom: 7rem !important;
	}

	@include response(xm) {
		margin-bottom: 3rem !important;
	}
} */
