@use '../abstract/mixins' as *;

.features {
	padding: 15rem 0;
	@include contentStyle;
	display: flex;
	align-items: center;

	&__img {
		display: inline-block;
		width: 100%;
		margin-left: -46rem;
	}

	&__content {
		flex: 0 0 50%;
	}
}
